.header {
  background-color: $red;
  color: #fff;
  margin-bottom: 20px;

  .header--wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;

    .header-column {
      padding: 5px 14px;
      i {
        font-size: 34px;
      }

      form {
        width: 100%;
      }

      &:last-child {
        justify-self: end;

        ul {
          display: flex;
          font-weight: 500;
          text-transform: uppercase;

          li {
            &:not(:last-child) {
              margin-right: 10px;
            }
            &:hover {
              color: lighten($red, 40%);
            }
          }
        }
      }
    }
  }
}
