.video-detail__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .video__player,
  .video__info {
    width: 100%;
    max-width: 80%;
  }

  .video__info {
    margin-top: 20px;

    button {
      width: 200px;
    }

    .video__title,
    .video__view,
    .video__description {
      margin-top: 14px;
    }

    .video__title {
      font-size: 24px;
      font-weight: 500;
    }

    .video__description {
      font-size: 16px;
      color: rgba(0, 0, 0, .8);
    }
  }

  .video__comments {
    margin-top: 30px;

    .video__comment-number {
      font-size: 16px;
    }
  }
}
