.social-login
    button.social-login--github
        a(href=routes.github)
            span
                i.fab.fa-github
            | Login with Github

    button.social-login--facebook
        a(href=routes.github)
            span
                i.fab.fa-facebook
            | Login with Facebook

