html,
body {
  height: 100%;
}

body {
  font-size: 14px;
}

main {
  width: 100%;
  margin: 0 auto;
  min-height: 82vh;
}

button,
input,
textarea {
  display: block;
  padding: 10px 5px;
  width: 100%;
  border-radius: 5px;
  &::placeholder {
    font-weight: 300;
    color: rgba(0, 0, 0, 0.7);
  }
}

input[type="file"] {
  border: none !important;
}

button,
input[type="submit"] {
  border: none;
  background-color: #3498bd;
  color: #ffffff;
  cursor: pointer;
}

button.delete {
  background-color: $dark-red;
}

video {
  width: 100%;
  margin-bottom: 10px;
}
