extends ../layouts/main.pug

block content
    .form--container
        form(action=routes.userEdit, method="post")
            label(for="avatar") Avatar
            input(type="file", id="avatar", name="avatar")
            input(type="submit", value="Edit Profile")
