extends ../layouts/main

block content
    .form--container
        form(action=routes.join, method="post")
            input(type="email", name="email", placeholder="Input E-mail")
            input(type="password", name="password", placeholder="Input Password")
            input(type="password", name="password2", placeholder="Verify Password")
            input(type="submit", value="Join")

         include ../partials/socialLogin
